{% include "header.html" %}
{% block content %}
    <div class="section-newsletter no-margin">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center">
                        <h2><span class="text-resalt">Add organisation {{ org_name }}</span></h2>
                    </div>
                    {% if value %}
                        <div class="text-center">
                            <h2><span class="alert alert-danger">{{value}}</span></h2>
                        </div>
                    {% endif %}
                    <form action="" method="post" enctype=multipart/form-data>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                    <input class="form-control" placeholder="Logo" type="file" name=file required="required">
                                </div>
                            </div>
                        </div>
                        </br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                    <input class="form-control" placeholder="Your Address" name="address" type="text" required="required">
                                 </div>
                            </div>
                        </div>
                        </br>
                        <div class="row justify-content-center">
                            <div class="text-center">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit" >Proceed</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}